compiam==0.3.0
distlib==0.3.8
fastdtw==0.3.4
Flask==3.0.2
h5py==3.10.0
hdbscan==0.8.39
ipdb==0.13.13
joblib==1.3.2
json5==0.9.14
librosa==0.10.1
matplotlib==3.8.2
mir-eval==0.7
mirdata==0.3.8
numba==0.58.1
numpy==1.26.3
pandas==2.1.4
pathlib==1.0.1
PyYAML==6.0.1
pyzmq==25.1.2
requests==2.31.0
SciencePlots==2.1.1
scikit-learn==1.2.2
scipy==1.11.4
tqdm==4.66.1
Zope==5.9
